<div class="menuHamburgue">
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Exemplo icon-button de menu" >
  <i class="fi fi-br-menu-burger"></i>
</button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>
    <span>Home</span>
  </button>

  <button mat-menu-item >
    <span>Sobre</span>
  </button>

  <button mat-menu-item>
    <span>Hard skills</span>
  </button>

  <button mat-menu-item>
    <span>Projetos</span>
  </button>

  <button mat-menu-item>
    <span>Contatos</span>
  </button>

</mat-menu>
</div>
<mat-toolbar class="header">

    <h1>Dev <span>Frontend</span></h1>
    <nav>
        <ul class="navegacaoPrimaria">
            <li><a href="#home">Home</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#hard_skills">Hard skills</a></li>
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#contatos">Contatos</a></li>
        </ul>
    </nav>


</mat-toolbar>

