@import "~@flaticon/flaticon-uicons/css/all/all";
*{
  list-style: none;
  text-decoration: none;
  
}
.header{
  background-color: #323232;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header h1{
  color: #FE4182;
  font-size: 2.5rem;
}

.header span{
  color: white;
}

.header .navegacaoPrimaria{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .navegacaoPrimaria li a{
  color: white;
  font-size: 1.3rem;
  padding: 10px;

}

.header .navegacaoPrimaria li a:hover{
  color: #FE4182;
}

.menuHamburgue{
  display: none;
}

@media(max-width: 992px){

  .header .navegacaoPrimaria {
    display: none;
  }
  .header h1{
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .menuHamburgue i{
    font-size: 2rem;
  }
  .menuHamburgue{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    color: #FE4182;
    position: absolute;
    left: 600px;
    top: 18px;

  }

}

