
    <!-- <header>
        <h1>Dev <span>Frontend</span></h1>
        <nav>
            <ul class="navegacao-primaria">
                <li><a href="#home">Home</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#hard_skills">Hard skills</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#contatos">Contatos</a></li>
            </ul>
        </nav>
    </header> -->
    <section aria-label="seção curriculo dowload Karla" class="section-div">
        <div>
            <h1 class="teste">Olá! Sou a Karla</h1>
            <h2 >Desenvolvedora frontend</h2>
            <p>Tenho o prazer de aplicar meus conhecimentos em projetos práticos, onde posso integrar teoria e prática de forma dinâmica e criativa. Essa experiência tem sido fundamental para consolidar meu aprendizado e desenvolver habilidades essenciais para o mercado de trabalho. </p>
            <button mat-raised-button color="accent" class="button"><a href="">Dowload CV</a></button>
        </div>
        <img src="" alt="foto de perfil">
    </section>

    <script src="script.js"></script>


