
    <section aria-label="seção curriculo dowload Karla" class="section-div">
        <div>
            <h1 class="teste">Olá! Sou a Karla</h1>
            <h2 >Desenvolvedora frontend</h2>
            <p>Tenho o prazer de aplicar meus conhecimentos em projetos práticos, onde posso integrar teoria e prática de forma dinâmica e criativa. Essa experiência tem sido fundamental para consolidar meu aprendizado e desenvolver habilidades essenciais para o mercado de trabalho. </p>
            <button mat-raised-button color="accent" class="button"><a href="">Dowload CV</a></button>
        </div>
        <img src="../../../assets/perfil_pequena.jpg" alt="foto de perfil">
    </section>

    <main>
      <article aria-label="seção sobre mim" class="sobre">
        <div class="sobreTitulo">
        <h1>Sobre mim</h1>
        <h2>Karla Silva</h2>

        <div arial-label="seção apenas de ilustrações de botões">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <img src="../../../assets/perfil.JPG" alt="imagem de perfil">
    <div class="sobreConteudo">
      <div class="sobreTexto">
        <p>Olá! Atualmente estou dedicando-me ao curso de Análise e Desenvolvimento de Sistemas na Faculdade Estácio, onde venho adquirindo uma sólida base teórica e prática nesta área em constante evoluçã <br>
           <br>Eu atualmente desenvolvo soluções em Angular e linguagens como Typescript e Javascript, assim como diversas outras bibliotecas que constam nas minhas skills.</p>


      </div>
      <div class="sobreInfo">
        <p><i class="fi fi-br-calendar-heart"></i>Data de aniversario</p>
        <p><i class="fi fi-sr-marker"></i>Endereço</p>
        <p><a href="#"><i class="fi fi-brands-linkedin"></i>Linkedin</a></p>
        <p><a href="#"><i class="fi fi-brands-github"></i>Github</a></p>
        <p><a href="#"><i class="fi fi-sr-envelope"></i>Email</a></p>
        <p><a href="#"><i class="fi fi-brands-whatsapp"></i>Telefone</a></p>

      </div>
    </div>
      </article>
    </main>

    <!-- <script src="script.js"></script> -->


