
    <section aria-label="seção curriculo dowload Karla" class="section-div">
        <div>
            <h1 class="teste">Olá, sou a Karla!</h1>
            <h2 >Desenvolvedora frontend</h2>
            <p>Tenho o prazer de aplicar meus conhecimentos em projetos práticos, onde posso integrar teoria e prática de forma dinâmica e criativa. Essa experiência tem sido fundamental para consolidar meu aprendizado e desenvolver habilidades essenciais para o mercado de trabalho. </p>

            <div class="sobreInfo">

              <p><a target="_blank" href="https://www.linkedin.com/in/karla-roberta-dev/"><i class="fi fi-brands-linkedin"></i>Linkedin</a></p>

              <p><a  target="_blank" href="https://github.com/KarlaRoberta"><i class="fi fi-brands-github"></i>Github</a></p>

            </div>

            <button mat-raised-button color="accent" class="button"><a href="">Dowload CV</a></button>
        </div>
        <img src="../../../assets/perfill.jpg" alt="foto de perfil">
    </section>

    <main>
      <article aria-label="seção sobre mim" class="sobre">
        <div class="sobreTitulo">
        <h1>Sobre mim</h1>
        <h2>Karla Silva</h2>

        <div arial-label="seção apenas de ilustrações de botões">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <img src="../../../assets/boneca.jpg" alt="imagem de perfil">
    <div class="sobreConteudo">
      <div class="sobreTexto">
        <p>Atualmente estou dedicando-me ao curso de Análise e Desenvolvimento de Sistemas na Faculdade Estácio, onde venho adquirindo uma sólida base teórica e prática nesta área em constante evolução.
          <br>
           <br> Além do ambiente acadêmico, acumulei experiência valiosa em trabalhar diretamente com o público. Esta vivência me ensinou a importância da comunicação eficaz, empatia e habilidades interpessoais, habilidades que acredito serem cruciais no mundo da tecnologia, onde a colaboração e o trabalho em equipe são fundamentais.</p>
      </div>

      <div>
        <h2 class="educacao"><i class="fi fi-rr-book-bookmark"></i>Faculdade</h2>
        <div class="educacaoConteudo">
          <span>2023-2025 </span>
          <h3>Análise e desenvolvimento de sistemas - Estácio</h3>

        </div>
      </div>
    </div>
      </article>
    </main>

    <section class="services">
      <div class="sobreTitulo">
        <h1>Habilidades</h1>

        <div arial-label="seção apenas de ilustrações de botões">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
     <div class="myServices">
      <ul aria-label="Navegação secundaria" >
        <li>
          <i><svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 448 512"><style>svg{fill:#f14281}</style><path d="M185.7 268.1h76.2l-38.1-91.6-38.1 91.6zM223.8 32L16 106.4l31.8 275.7 176 97.9 176-97.9 31.8-275.7zM354 373.8h-48.6l-26.2-65.4H168.6l-26.2 65.4H93.7L223.8 81.5z"/></svg></i>
          <h3>Angular</h3>
        </li>
        <li>
          <i class="fi fi-brands-typescript"></i>
          <h3>Typescript</h3>
        </li>
        <li>
          <i><svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 448 512"><path d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/></svg></i>
          <h3>JavaScript</h3>
        </li>
        <li>
          <i class="fa fa-github"></i>
          <h3>Github</h3>

        </li>
        <li>
          <i class="fa fa-css3"></i>
          <h3>CSS</h3>
        </li>
        <li>
          <i class="fa fa-html5"></i>
          <h3>HTML</h3>

        </li>
      </ul>
     </div>
    </section>
    <div class="myResume">
      <div class="sobreTitulo">
        <h1>Projetos</h1>
          <p>Conheça um pouco dos meus projetos</p>
        <div arial-label="seção apenas de ilustrações de botões">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="resumo">
      <h2 class="experiencia">

      </h2>
      <div class="projetos">
        <div>
          <mat-card class="projetoCard">
            <mat-card-header>
              <mat-card-title > Lista supermercado</mat-card-title>
              <mat-card-subtitle class="subTituloProjeto">Angular - Typescript</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/listaSupermercado.png">
            <mat-card-content>
              <p>
                Projeto desenvolvido para facilitar na hora de criar a lista de supermercado. Onde o usuario pode adicionar, editar e excluir os itens.
              </p>
            </mat-card-content>
            <mat-card-actions class="buttonProjetos">
              <button mat-stroked-button color="accent" >Visualizar</button>
              <button mat-stroked-button color="accent" class="buttonCodigo" >Código</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card class="projetoCard">
            <mat-card-header>
              <mat-card-title >Super Mario</mat-card-title>
              <mat-card-subtitle class="subTituloProjeto">HTML - CSS - JavaScript</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/projetoSuperMario.png">
            <mat-card-content>
              <p>Personagens mais conhecidos do Mario Bross em uma página de apresentação. Ao passar o mouse sobre o personagem irá aparecer uma foto maior e a descrição correspondente ao personagem.
              </p>
            </mat-card-content>
            <mat-card-actions class="buttonProjetos">
              <button mat-stroked-button color="accent" >Visualizar</button>
              <button mat-stroked-button color="accent" class="buttonCodigo" >Código</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card class="projetoCard">
            <mat-card-header>
              <mat-card-title >Calculadora</mat-card-title>
              <mat-card-subtitle class="subTituloProjeto">Angular - Typescript</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/listaSupermercado.png">
            <mat-card-content>
              <p>
                Projeto desenvolvido para facilitar na hora de criar a lista de supermercado. Onde o usuario pode adicionar, editar e excluir os itens.
              </p>
            </mat-card-content>
            <mat-card-actions class="buttonProjetos">
              <button mat-stroked-button color="accent" >Visualizar</button>
              <button mat-stroked-button color="accent" class="buttonCodigo" >Código</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card class="projetoCard">
            <mat-card-header>
              <mat-card-title >Programar um E-commerce</mat-card-title>
              <mat-card-subtitle class="subTituloProjeto">Angular - Typescript</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/listaSupermercado.png">
            <mat-card-content>
              <p>
                Projeto desenvolvido para facilitar na hora de criar a lista de supermercado. Onde o usuario pode adicionar, editar e excluir os itens.
              </p>
            </mat-card-content>
            <mat-card-actions class="buttonProjetos">
              <button mat-stroked-button color="accent" >Visualizar</button>
              <button mat-stroked-button color="accent" class="buttonCodigo" >Código</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    </div>

    <!-- <script src="script.js"></script> -->


